* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #222;
  color: #cdcdcd;
}
header {
  padding: 20px;
}

header span {
  color: rgb(147, 25, 45);
}

.camera-container {
  text-align: center;
}

video,
canvas {
  width: 640px;
  height: 480px;
  border: 1px solid #ccc;
  margin: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
}
